.btn,
.Btn {
  background-image: linear-gradient(to bottom right, #ffffff, #319cb5);
}

.btn::after,
.Btn::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  background-image: linear-gradient(to bottom right, #319cb5, #ffffff);
  z-index: -1;
}

.btn:hover {
  z-index: 1;
  box-shadow:
    40px 0 100px #319cb5,
    -40px 0 100px #ffffff;
}

.Btn:hover {
  z-index: 1;
  color: #040d0f;
  box-shadow:
    40px 0 150px #319cb5,
    -40px 0 150px #ffffff;
}
